demo-logic-app-v5/demoapp-workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "https://fake-json-api.mock.beeceptor.com/customers",
                    "method": "GET"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@body('HTTP')"
                },
                "runAfter": {
                    "Filter_array": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Filter_array": {
                "type": "Query",
                "inputs": {
                    "from": "@body('HTTP')",
                    "where": "@equals(item()?['id'],1)"
                },
                "runAfter": {
                    "HTTP": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "v53": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST"
                }
            }
        }
    },
    "kind": "Stateful"
}